Repository wcampbell0x2a/backhand, pull requests merged in 2023-11, with the labels that each got.

#352 unsquashfs: Fix red_bold color
  backhand-cli/src/bin/unsquashfs.rs
Labels: A-Unsquashfs

#353 ci: Add backhand-cli to auto labeler
  .github/labeler.yml
Labels: A-CI

#355 backhand: Add optional document-features
  Cargo.lock
  Cargo.toml
  backhand-cli/Cargo.toml
  backhand/Cargo.toml
  backhand/src/lib.rs
Labels: A-backhand-lib, A-backhand-cli

#360 Fix issue 359, missing uid/gid
  backhand-test/tests/issues.rs
  backhand/src/filesystem/writer.rs
Labels: A-backhand-lib, A-Tests
