Repository wcampbell0x2a/backhand, pull requests merged in 2023-12, with the labels that each got.

#364 Fix issue 363
  backhand-test/tests/issues.rs
  backhand/src/filesystem/node.rs
Labels: A-backhand-lib, A-Tests

#365 allow to create/read uncompressed files
  backhand/src/compressor.rs
Labels: A-backhand-lib, S-Add-To-Changelog

#381 Fix clippy::unnecessary_fallible_conversions
  backhand-cli/src/bin/unsquashfs.rs
  backhand/src/filesystem/writer.rs
  backhand/src/squashfs.rs
Labels: A-unsquashfs, A-backhand-lib, A-backhand-cli

#384 ci: Move comment:false to codecov; Disable patch check
  .github/codecov.yml
  codecov.yml
Labels: A-CI

#387 Add clap style
  CHANGELOG.md
  Cargo.lock
  backhand-cli/Cargo.toml
  backhand-cli/src/bin/add.rs
  backhand-cli/src/bin/replace.rs
  backhand-cli/src/bin/unsquashfs.rs
  backhand-cli/src/lib.rs
Labels: A-unsquashfs, A-add, A-replace, A-backhand-cli

#388 Add ci benchmark
  .github/workflows/benchmark.yml
  .github/workflows/main.yml
  backhand-cli/Cargo.toml
  backhand-test/Cargo.toml
  backhand/Cargo.toml
Labels: A-backhand-lib, A-CI, A-tests, A-backhand-cli

#395 Remove mips from ci and release builds
  .github/workflows/binaries.yml
  CHANGELOG.md
Labels: A-CI

#394 ci: Use PAT token for changelog-auto-commit
  .github/workflows/pull_request.yml
Labels: A-CI

#396 Use pull_request_target for auto commit
  .github/workflows/pull_request.yml
Labels: A-CI

#397 Try ci pat again
  .github/workflows/pull_request.yml
Labels: A-CI

#356 bins: Rename bins to *-backhand
  .github/workflows/binaries.yml
  .github/workflows/coverage.yml
  CHANGELOG.md
  README.md
  backhand-cli/Cargo.toml
  backhand-test/tests/add.rs
  backhand-test/tests/common/mod.rs
  backhand-test/tests/replace.rs
  backhand-test/tests/unsquashfs.rs
Labels: A-CI, A-tests, A-backhand-cli
