Repository wcampbell0x2a/backhand, pull requests merged in 2024-02, with the labels that each got.

#460 ci: Add prelease to release job
  .github/workflows/binaries.yml
Labels: A-CI

#466 ci: Add required dependabot-reviewed to add to changelog
  .github/workflows/pull_request.yml
Labels: A-CI

#472 Support FIFO and Socket Inodes
  CHANGELOG.md
  backhand-cli/src/bin/unsquashfs.rs
  backhand-test/tests/common/mod.rs
  backhand-test/tests/mutate.rs
  backhand-test/tests/raw.rs
  backhand-test/tests/test.rs
  backhand/src/entry.rs
  backhand/src/filesystem/node.rs
  backhand/src/filesystem/reader.rs
  backhand/src/filesystem/writer.rs
  backhand/src/inode.rs
  backhand/src/squashfs.rs
Labels: A-unsquashfs, A-backhand-lib, A-tests, A-backhand-cli

#470 Add named pipe (fifo) handling
  backhand-cli/src/bin/unsquashfs.rs
  backhand/src/entry.rs
  backhand/src/filesystem/node.rs
  backhand/src/filesystem/reader.rs
  backhand/src/filesystem/writer.rs
  backhand/src/inode.rs
  backhand/src/squashfs.rs
Labels: A-unsquashfs, A-backhand-lib, A-backhand-cli

#474 reader: Reduce file.system.reader.lock() lifetime
  backhand/src/filesystem/reader.rs
Labels: A-backhand-lib

#475 Various backhand cli changes
  backhand-cli/src/bin/unsquashfs.rs
  backhand-cli/src/lib.rs
Labels: A-unsquashfs, A-backhand-cli

#467 ci: Remove if for changelog generation
  .github/workflows/pull_request.yml
Labels: A-CI

#487 ci: Checkout head_ref for changelog generation
  .github/workflows/pull_request.yml
Labels: A-CI

#490 General spelling fixes
  BENCHMARK.md
  CHANGELOG.md
  README.md
  backhand-cli/src/bin/add.rs
  backhand-cli/src/lib.rs
  backhand-test/tests/common/mod.rs
  backhand-test/tests/non_standard.rs
  backhand-test/tests/test.rs
  backhand/src/compressor.rs
  backhand/src/entry.rs
  backhand/src/squashfs.rs
Labels: A-add, A-backhand-lib, A-tests, A-backhand-cli

#494 backhand: Fix panic found in NodeHeader::from_inode
  CHANGELOG.md
  backhand/src/error.rs
  backhand/src/filesystem/node.rs
  backhand/src/squashfs.rs
Labels: A-backhand-lib
