Repository wcampbell0x2a/backhand, pull requests merged in 2024-11, with the labels that each got.

#626 Replace hand-rolled clap stylings with styles from clap_cargo
  Cargo.lock
  backhand-cli/Cargo.toml
  backhand-cli/src/bin/add.rs
  backhand-cli/src/bin/replace.rs
  backhand-cli/src/bin/unsquashfs.rs
Labels: A-unsquashfs, A-add, A-replace, A-backhand-cli

#632 Replace test-assets fork with my test-assets-ureq
  Cargo.lock
  backhand-test/Cargo.toml
  backhand-test/tests/add.rs
  backhand-test/tests/common/mod.rs
  backhand-test/tests/mutate.rs
  backhand-test/tests/non_standard.rs
  backhand-test/tests/raw.rs
  backhand-test/tests/replace.rs
  backhand-test/tests/test.rs
  backhand-test/tests/unsquashfs.rs
  backhand/Cargo.toml
  backhand/benches/benchmark.rs
Labels: A-backhand-lib, A-tests

#634 Add Windows support for the lib
  backhand/src/dir.rs
  backhand/src/entry.rs
  backhand/src/lib.rs
  backhand/src/squashfs.rs
  backhand/src/unix_string.rs
Labels: A-backhand-lib

#638 Add Windows backhand support testing
  .github/workflows/main.yml
  CHANGELOG.md
  README.md
Labels: A-backhand-lib, A-CI

#641 Add flate2 zlib-rs usage
  .github/workflows/main.yml
  CHANGELOG.md
  Cargo.lock
  backhand-cli/Cargo.toml
  backhand-test/Cargo.toml
  backhand/Cargo.toml
  backhand/src/compressor.rs
  backhand/src/lib.rs
  bench.bash
Labels: A-backhand-lib, A-CI, A-tests, A-backhand-cli
